 *{
     background-color: #f0fbff;
     border-radius: 5px;
 }

 /*
 input[type="submit"]{
     background-color: #fdb44b;
     border: none;
     border-radius: 5px;
 }
 */

option {
    font-size: 16px;
    padding: 10px;
}


input,  select{
    padding: 10px;
    margin: 20px 0 20px;
}

 .box-buttons {
     display: flex;
     justify-content: space-between; /* Allinea i bottoni ai lati opposti */
     padding: 40px;
     background-color: #475053;
     margin: 10px 0 10px;
 }

 /* Stile simile a un bottone */
 .button-link {
     padding: 10px 20px;
     background-color: #2e94b9;
     color: white;
     text-decoration: none;
     border: none;
     cursor: pointer;
 }

 .invitations-table{
     width: 100%;
 }

 .invitations-table th, td {
        text-align: center;
        padding: 8px;
        border: 1px solid #dddddd;
        border-radius: 5px;
 }

 .invitations-table th {
        background-color: #acdcee; /* Sfondo grigio per l'intestazione */
    }

.button-accept{
    background-color: #42b883;
}

.button-reject{
    background-color: #fa7f7f;
}

.button-invite{
    background-color: #fdb44b;
}