/* Header */

header {
    height: 8em;
    width: 100%;
    background: #475053;
}

.box-container{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 1em;
}

.header-button-container {
    flex: 1 1;
    text-align: center;
}

.header-button {
    font-size: 1.3em;
    background: #ffffff;
    color: #000000;
    box-sizing: border-box;
    padding: 1em 2em;
    border: 1px solid #000000;
    text-decoration: none;
}

/* Main content*/

.main h2 {
    text-align: center;
}

.trip-list-table {
    width: 100%;
    height: auto;

    background: #fff;

    padding: 0.5em;

    box-sizing: border-box;
}

.trip-table-header {
    font-weight: bold;
    font-size: 1.2em;
}

.single-trip-container {
    width: 100%;
    height: 3em;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

.single-field-trip-container {
    width: auto;
    height: 100%;

    text-align: center;

    border: 1px solid #000;

    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1;
}

