<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Activity</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'travelGroup/style.css' %}">
</head>
<body>
    <header>

    </header>

    <main>
        <section>
            <h2>Activity Details</h2>
        </section>
        
        <form action="" method="POST">
            {% csrf_token %}
            {{ addActivityForm }}
            
            <input type="submit" name="add_activity" value="Add to Itinerary">
        </form>
    </main>
</body>
</html>
