{% extends "travelGroup/base.html" %}

{% block title %}Invita partecipante{% endblock %}


{% block header %}

    <header>
        <div class="box-container">
            <div class="header-button-container">
                <a href="mytrips" type="button" class="header-button">MY TRIPS</a>
            </div>
            <div class="header-button-container">
                <a href="/logout" name="logout_button" class="header-button ">LOGOUT</a>
            </div>
        </div>
    </header>

{% endblock %}

{% block main-content %}

    <p>Username:   <b> {{  request.user.username }} </b> </p>
    <p>Your email: <b> {{  request.user.email }} </b></p>


    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}

        <input type="submit" name="new_invite" class="button-link button-invite" value="INVITE">
    </form>


    <table class="invitations-table">
        <caption><h3>Invitations received</h3></caption>
        <tr>
            <th>Recipient</th>
            <!-- <th>Destinatario</th> -->
            <th>Trip name</th>
            <th>State</th>
        </tr>
    {% if invitations_list %}
        {% for invitation in invitations_list %}
            <tr>
                <!-- <td>{{ invitation.id }}</td> -->
                <td>{{ invitation.sender }}</td>
                <!-- <td>{{ invitation.recipient }}</td> -->
                <td>{{ invitation.trip }}</td>
                <!-- <td> {{ invitation.state }}</td> -->
                <td>
                    <form action="{% url 'travelGroup:process_invitation' invitation.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="button-accept button-link" name="accept">ACCEPT</button>
                        <button type="submit" class="button-reject button-link" name="decline">DECLINE</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="5">No invitations to show.</td>
        </tr>
    {% endif %}
    </table>

{% endblock %}

{% block footer %}

{% endblock %}
