{% extends "travelGroup/base.html" %}

{% block extra-head %}

    <title>TripGroup - Login</title>
    {% load static %}
{#    <link rel="stylesheet" href="{% static 'travelGroup/login.css' %}">#}
    <link rel="stylesheet" href="{% static 'travelGroup/style.css' %}">

{% endblock %}

{% block header %}

    <header class="header">
        <div class="box-container">
            <h1>Travel Group - Login</h1>
        </div>
    </header>

{#    <header>#}
{#        <h1>Travel Group - Login</h1>#}
{#    </header>#}

{% endblock %}


{% block main-content %}

    <main>
        <form action="" method="POST">
            {% csrf_token %}
            {{ authenticationForm.as_p }}
            <div class="button-container">
                <input type="submit" name ="login_button" value="login">
            </div>
        </form>

        <p>You are not registered ? <a href="/registration">Register</a></p>

        {% for message in messages %}
            <p id="">{{message}}</p>
        {% endfor %}
    </main>

{% endblock %}

{% block footer %}

{% endblock %}

