<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Trip</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'travelGroup/login.css' %}">
</head>
<body>

<main>
        <section>
            <h2></h2>
        </section>

        <form action="" method="POST">
            {% csrf_token %}
            <input type="text" name="username" >
            <input type="password"  name="password" >
            <input type="submit" value="login">
        </form>
    </main>

    {% for message in messages %}
        <p id="">{{message}}}</p>
    {% endfor %}

    <footer>
        <p>&copy; 2023 NoNameCompany. All rights reserved.</p>
    </footer>
</body>


</body>
</html>