<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Trip</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'travelGroup/newtripTemplate.css' %}">
</head>
<body>
    <header>
        <h1>Create a new trip to share with your friends!</h1>
    </header>

    <main>
        <section>
            <h2>New Trip Details</h2>
        </section>
        
        {# new trip form #}
        <form action="" method="POST">
            {% csrf_token %}
            {{ newTripForm }}  

            <input id="activityButton" type="button" value="Add Activity">
            
            {# add activity formset #}
            <div id="activityFormset" style="display: none;">
                {% for form in activity_formset %}
                    {{ activity_formset.management_form }}
                    {{ form }}
                {% endfor %}
            </div>
            
            {# script to handle the "Add Activity" button#}
            <script src="{% static 'travelGroup/activityButtonScript.js' %}"></script>

            <input type="submit" value="Create">
        </form>
    </main>

    <footer>
        <p>&copy; 2023 NoNameCompany. All rights reserved.</p>
    </footer>
</body>
</html>
