{% extends "travelGroup/base.html" %}

{% block extra-head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'travelGroup/newtripTemplate.css' %}">
    <link rel="stylesheet" href="{% static 'travelGroup/tripsTemplate.css' %}">

{% endblock %}

{% block header %}

    <header>
        <div class="box-container">
            <div class="header-button-container">
                <a href="mytrips" type="button" class="header-button">MY TRIPS</a>
            </div>
            <div class="header-button-container">
                <a href="/logout" class="header-button ">LOGOUT</a>
            </div>
        </div>
    </header>

{% endblock %}

{% block main-content %}

    <main>
        <section>
            <h2>New Trip Details</h2>
        </section>

        {# new trip form #}
        <form action="" method="POST">
            {% csrf_token %}
            {{ newTripForm }}

            <div class="button-container">
                <input type="submit" name="create_button" value="Create">
                <input type="submit" name="create_add_button" value="Create and Add Activities">
            </div>
        </form>
    </main>

{% endblock %}

{% block footer %}

{#    <footer class="footer">#}
{#        <p>&copy; 2023 NoNameCompany. All rights reserved.</p>#}
{#    </footer>#}

{% endblock %}

