{% extends "travelGroup/base.html" %}

{% block extra-head %}

    <title>TripGroup - Login</title>
    {% load static %}
{#    <link rel="stylesheet" href="{% static 'travelGroup/login.css' %}">#}
    <link rel="stylesheet" href="{% static 'travelGroup/tripsTemplate.css' %}">
    <link rel="stylesheet" href="{% static 'travelGroup/newtripTemplate.css' %}">

{% endblock %}

{% block header %}

    <header class="header">
        <div class="box-container">
            <h1>Travel Group - Registration</h1>
        </div>
    </header>

{% endblock %}


{% block main-content %}

    <main>
        <section>
            <h2></h2>
        </section>

        <form action="" method="POST">
            {% csrf_token %}
            {{registrationUserForm.as_p}}
            <input type="submit" value="signup">
        </form>

        <p>You are already registered ? <a href="/">Login</a></p>
        {% for message in messages %}
            <p id="">{{message}}}</p>
        {% endfor %}
    </main>


{% endblock %}

{% block footer %}

{% endblock %}
