{% extends "travelGroup/base.html" %}

{% block extra-head %}

    {% load static %}
    <link rel="stylesheet" href="{% static 'travelGroup/style.css' %}">

{% endblock %}

{% block header %}

    <header>

        <div class="box-container">
            <div class="header-button-container">
                <a href={% url 'travelGroup:mytrips' %} class="header-button">Back</a>
            </div>
        </div>

    </header>

{% endblock %}

{% block main-content %}

    <div class="trip-details-container">

        <div class="field_container">
            <h3 class="field-label">Trip Name:</h3>
            <p id="detail-trip-name" class="field-content">{{ trip.name }}</p>
        </div>

        <div class="field_container">
            <h3 class="field-label">Trip Destination:</h3>
            <p class="field-content">{{ trip.destination }}</p>
        </div>

        <div class="field_container">
            <h3 class="field-label">Departure date:</h3>
            <p class="field-content">{{ trip.departure_date }}</p>
        </div>

        <div class="field_container">
            <h3 class="field-label">Arrival date:</h3>
            <p class="field-content">{{ trip.arrival_date }}</p>
        </div>

        <div class="field_container">
            <h3 class="field-label">Participants:</h3>
            {% if participants.count > 0 %}
                {% for participant in participants %}
                    <p class="field-content">{{ participant.first_name }} {{ participant.last_name }}</p>
                {% endfor %}
            {% else %}
                <p class="field-content">This trip has no participants</p>
            {% endif %}
        </div>

    <div class="field_container">
            <h3 class="field-label">Activities:</h3>
            {% if activities.count > 0 %}
                {% for activity in activities %}
                    <label class="activity-label">Name</label>
                    <p class="field-content">{{  activity.name }}</p>
                    <label class="activity-label">Description</label>
                    <p class="field-content">{{  activity.description }}</p>
                    <label class="activity-label">Start date</label>
                    <p class="field-content">{{  activity.start_date }}</p>
                    <label class="activity-label">End date</label>
                    <p class="field-content">{{  activity.end_date }}</p>
                {% endfor %}
            {% else %}
                <p class="field-content">This trip has no activities</p>
            {% endif %}
        </div>


        <div class="field_container">
            <h3 class="field-label">Commenti:</h3>
            {% if comments.count > 0 %}
                {% for comment in comments %}
                    <p class="field-content">{{ comment.user.username }}: {{ comment.content }}</p>
                {% endfor %}
            {% else %}
                <p class="field-content">Nessun commento!</p>
            {% endif %}
        </div>
        <form action="{% url 'travelGroup:add_comment' trip.id %}" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit" name="add_comment" > AGGIUNGI COMMENTO</button>
        </form>
    </div>

{% endblock %}
