<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% load static %}
    <link rel="stylesheet" href="{% static 'travelGroup/tripsTemplate.css' %}">
    <title>My Trips</title>
</head>
<body>

{% if tripList %}
    <div class="trip-list-table">
    <div class="single-trip-container ">
        <div class="single-field-trip-container trip-table-header">
            Trip Name
        </div>
        <div class="single-field-trip-container trip-table-header">
            Trip Destination
        </div>
        <div class="single-field-trip-container trip-table-header">
            Departure Date
        </div>
        <div class="single-field-trip-container trip-table-header">
            Arrival Date
        </div>
    </div>
    {% for trip in tripList %}
        <div class="single-trip-container">
        <div class="single-field-trip-container">
            {{ trip.name }}
        </div>
        <div class="single-field-trip-container">
            {{ trip.destination }}
        </div>
        <div class="single-field-trip-container">
            {{ trip.departure_date }}
        </div>
        <div class="single-field-trip-container">
            {{ trip.arrival_date }}
        </div>
    </div>
    {% endfor %}
    </div>
{% else %}
    <p>No trip to show!</p>
{% endif %}

</body>
</html>