<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
{% load static %}
    <link rel="stylesheet" href="{% static 'travelGroup/tripsTemplate.css' %}">
    <title>I Miei Viaggi</title>
</head>
<body>

{% if tripList %}
    <div class="trip-list-table">
    <div class="single-trip-container ">
        <div class="single-field-trip-container trip-table-header">
            Nome Viaggio
        </div>
        <div class="single-field-trip-container trip-table-header">
            Destinazione
        </div>
        <div class="single-field-trip-container trip-table-header">
            Data Partenza
        </div>
        <div class="single-field-trip-container trip-table-header">
            Data Ritorno
        </div>
    </div>
    {% for trip in tripList %}
        <div class="single-trip-container">
        <div class="single-field-trip-container">
            {{ trip.name }}
        </div>
        <div class="single-field-trip-container">
            {{ trip.destination }}
        </div>
        <div class="single-field-trip-container">
            {{ trip.departure_date }}
        </div>
        <div class="single-field-trip-container">
            {{ trip.arrival_date }}
        </div>
    </div>
    {% endfor %}
    </div>
{% else %}
    <p>Non partecipi a nessun viaggio!</p>
{% endif %}

</body>
</html>